<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeThread</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{!-- The CodeThread homepage is demarcated by the '/' route.  --}}
  <a class="navbar-brand" href="/">CodeThread</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Shop<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/shirtorder">Orders</a>
      </li>
      <li>
        <div>
          <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        </div>
      </li>
    </ul>
  </div>
</nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{!-- The syntax per handlebars for this part is {{{ body }}} --}}
      {{{ body }}}
    </main>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer>
    {{!-- The footer returns to the CodeThread homepage which is demarcated via the '/' --}}
      <a class="footer-brand" href="/">CodeThread</a>
    </footer>
</body>


</html>