<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>My Profile</h3>
    <p>First: {{user.first}}</p>
    <br>
    <p>Last: {{user.last}}</p>
    <br>
    <p>Email: {{user.email}}</p>
  </div>
</div>

