<div>
    <div class="cohort-shirt col-md-5">
        <h2 class="shirt-title">Order {{shirt.cohort_name}}</h2>
        <a href="{{shirt.handlebars}}" img="{{shirt.cohort_shirt}}" alt="Graphic of {{shirt.cohort_name}}""></a>
        <br>
        <h3>Size</h3>
        <p class="shirt-size">XS</p><label><input type="radio" name="mode" value="auto">Auto</label>
        <p class="shirt-size">S</p><label><input type="radio" name="mode" value="auto">Auto</label>
        <p class="shirt-size">M</p><label><input type="radio" name="mode" value="auto">Auto</label>
        <p class="shirt-size">L</p><label><input type="radio" name="mode" value="auto">Auto</label>
        <p class="shirt-size">XL</p><label><input type="radio" name="mode" value="auto">Auto</label>
        <p class="shirt-size">XXL</p><label><input type="radio" name="mode" value="auto">Auto</label>
    </div>
    <div>
        <form class="form login-form">
      <div class="form-group">
        <label for="address">Street</label>
        <input class="form-input" type="text" id="street" />
      </div>
      <div class="form-group">
        <label for="address">City:</label>
        <input class="form-input" type="text" id="city" />
      </div>
       <div class="form-group">
        <label for="address">State:</label>
        <input class="form-input" type="text" id="state" />
      </div>
       <div class="form-group">
        <label for="address">Apt:</label>
        <input class="form-input" type="text" id="apt" />
      </div>
       <div class="form-group">
        <label for="address">Zip Code:</label>
        <input class="form-input" type="text" id="zip" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>