:root {
    --uncblue:cornflowerblue;
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
  }
  
  .custom-navbar {
    background-color: var(--darkblue);
  }
  
  .custom-navbar a {
    font-size: 1.5rem;
    color: var(--lightseablue);
  }
  
  .custom-navbar a:hover {
    color: var(--uncblue);
  }
  
  .hero {
    background-color: var(--seablue);
    color: var(--darkblue);
    margin-bottom: 50px;
  }

  .home {
    margin-bottom: 6em;
  }

  h2 {
    color: var(--blue);
  }

  h3 {
    color: var(--blue);
  }

  .custom-btn {
    background-color: var(--light);
    color: var(--blue);
    margin: 1em;
    
  }
  
  .custom-btn:hover {
    background-color: var(--darkblue);
    color: var(--light);
  }

  .img {
    margin: 2em;
  }

  .form-group {
    margin: 2em;
  }
  
  footer {
    width: 100%;
    text-align: start;
    background-color: var(--darkblue);
    margin-top: 20px;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}